levenshtein==0.18.1,
requests==2.27.1,
colorama==0.4.6,
future==0.18.2,
blockcypher==1.0.93,
urlexpander==0.0.37,
python-whois==0.9.4,
eml_parser==1.17.5,
python-magic==0.4.27,
extract_msg==0.40.0,
vt-py==0.14.0
tldextract==5.1.3